{% extends "base.html" %}
{% block title %}{{post.title}}{% endblock %}
{% block head %}
	{{ super() }}
	<style>
	</style>
{% endblock %}

{% block body %}
    <div class="col-8">
        <h2>{{post.title}}</h2>
        {% if post.image_id %}
        <img src="{{ url_for('serve_image', image_id=post.image_id) }}" class="img-fluid" alt="Post image">
        {% endif %}
        <h5 class="mt-5">{{post.author}} - {{post.date.strftime('%d.%m.%Y')}}</h5>
        <p class="mt-2">{% for tag in post.tags.split(',') %}
            <span class="badge bg-primary">{{ tag }}</span>
        {% endfor %}</p>
        <p class="mt-5">{{ post.content | markdown | safe }}</p>
        <div>
            <a href="{{ url_for('post_edit', post_id=post['_id']) }}" type="button" class="btn btn-primary btn-sm">Uredi</a>
            <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#deleteModal"
                data-postid="{{ post['_id'] }}">
                Briši
            </button>
        </div>
    </div>

{% endblock %}
